@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

.profil img {
    width: 500px;
    border-radius: 50%;
}

.profil .rond {
    border-radius: 70%;

    display: flex;

    border: 10px solid lightgreen;
}

.profil {
    display: flex;
    justify-content: center;
}

.text {
    text-align: center;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text h1 {
    width: 100%;
}

.reduce {
    width: 60%;
}

.toto img {
    width: 50px;
}

.toto {
    display: flex;
    justify-content: center;
}