* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profil img {
    width: 500px;
    border-radius: 50%;
}

.profil .rond {
    border-radius: 70%;

    display: flex;

    border: 10px solid lightgreen;
}

.profil {
    display: flex;
    justify-content: center;
}

.text {
    text-align: center;
}

.toto img {
    width: 50px;
}

.toto {
    display: flex;
    justify-content: center;
}