@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

.back {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;

    background-color: #ffffff;
    opacity: 0.8;
    background-image: radial-gradient(#000000 0.5px, transparent 0.5px), radial-gradient(#000000 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.navbar a {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: lightgreen;
    text-decoration-thickness: 3px;
}



.profil img {
    width: 300px;
    border-radius: 50%;
}

.profil .rond {
    border-radius: 70%;

    display: flex;

    border: 10px solid lightgreen;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    margin-top: 60px;
}

.profil {
    display: flex;
    justify-content: center;
}

.text {
    text-align: center;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 20px;
}

.text h1 {
    width: 100%;
}

.reduce {
    width: 60%;
}

.toto a {

    text-decoration: none;
    color: black;
    font-size: 20px;
}

.toto {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.toto button {

    width: 60px;
    height: 60px;

    cursor: pointer;
    border: 3px solid lightgreen;
    background-color: white;

    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}